.elementor-kit-8{--e-global-color-primary:#000000;--e-global-color-secondary:#5F5F5F;--e-global-color-text:#000000;--e-global-color-accent:#0C0C0C;--e-global-color-bacc099:#FFFFFF;--e-global-color-249dea4:#00000000;--e-global-color-6f13170:#FFFFFFB0;--e-global-color-630e120:#F5F6F7;--e-global-color-e42d24b:#C556C1;--e-global-color-f2c358a:#27B7E6;--e-global-color-a73b028:#E1E1E1;--e-global-color-6360e85:#ED098F;--e-global-typography-primary-font-family:"Neue Haas Display";--e-global-typography-primary-font-size:45px;--e-global-typography-primary-font-weight:700;--e-global-typography-primary-text-transform:none;--e-global-typography-primary-font-style:normal;--e-global-typography-primary-line-height:1em;--e-global-typography-secondary-font-family:"Neue Haas Display";--e-global-typography-secondary-font-size:24px;--e-global-typography-secondary-font-weight:700;--e-global-typography-secondary-text-transform:none;--e-global-typography-secondary-font-style:normal;--e-global-typography-secondary-line-height:33.6px;--e-global-typography-text-font-family:"Neue Haas Display";--e-global-typography-text-font-size:16px;--e-global-typography-text-font-weight:500;--e-global-typography-text-text-transform:none;--e-global-typography-text-font-style:normal;--e-global-typography-text-line-height:25px;--e-global-typography-accent-font-family:"Raleway";--e-global-typography-accent-font-size:16px;--e-global-typography-accent-font-weight:400;--e-global-typography-accent-text-transform:capitalize;--e-global-typography-accent-font-style:normal;--e-global-typography-accent-line-height:25px;--e-global-typography-8bf0fef-font-family:"Raleway";--e-global-typography-8bf0fef-font-size:16px;--e-global-typography-8bf0fef-font-weight:500;--e-global-typography-8bf0fef-text-transform:none;--e-global-typography-8bf0fef-font-style:normal;--e-global-typography-8bf0fef-line-height:23px;--e-global-typography-8bf0fef-letter-spacing:3.55px;--e-global-typography-b183cab-font-family:"Raleway";--e-global-typography-b183cab-font-size:16px;--e-global-typography-b183cab-font-weight:800;--e-global-typography-b183cab-text-transform:capitalize;--e-global-typography-b183cab-font-style:normal;--e-global-typography-b183cab-line-height:25px;--e-global-typography-cc344fb-font-family:"Neue Haas Display";--e-global-typography-cc344fb-font-size:7vw;--e-global-typography-cc344fb-font-weight:700;--e-global-typography-cc344fb-text-transform:none;--e-global-typography-cc344fb-line-height:1.1em;--e-global-typography-c7d4afc-font-family:"Raleway";--e-global-typography-c7d4afc-font-size:16px;--e-global-typography-c7d4afc-font-weight:500;--e-global-typography-c7d4afc-text-transform:none;--e-global-typography-c7d4afc-font-style:italic;--e-global-typography-c7d4afc-line-height:25px;--e-global-typography-c7d4afc-letter-spacing:-0.45px;--e-global-typography-84eb953-font-family:"Raleway";--e-global-typography-84eb953-font-size:16px;--e-global-typography-84eb953-font-weight:500;--e-global-typography-84eb953-text-transform:none;--e-global-typography-84eb953-font-style:normal;--e-global-typography-84eb953-text-decoration:underline;--e-global-typography-84eb953-line-height:25px;--e-global-typography-31a0794-font-family:"Neue Haas Display";--e-global-typography-31a0794-font-size:16px;--e-global-typography-31a0794-font-weight:700;--e-global-typography-31a0794-text-transform:none;--e-global-typography-49b9b27-font-family:"Neue Haas Display";--e-global-typography-49b9b27-font-size:20px;--e-global-typography-49b9b27-font-weight:700;--e-global-typography-49b9b27-text-decoration:underline;--e-global-typography-dc5bd93-font-family:"Neue Haas Display";--e-global-typography-dc5bd93-font-size:20px;--e-global-typography-dc5bd93-font-weight:400;--e-global-typography-dc5bd93-line-height:28px;--e-global-typography-0cc1760-font-family:"Neue Haas Display";--e-global-typography-0cc1760-font-size:30px;--e-global-typography-0cc1760-font-weight:700;--e-global-typography-0cc1760-line-height:1em;--e-global-typography-f165405-font-family:"Neue Haas Display";--e-global-typography-f165405-font-size:14px;--e-global-typography-f165405-font-weight:700;--e-global-typography-f165405-text-transform:none;--e-global-typography-c2ff7a3-font-family:"Neue Haas Display";--e-global-typography-c2ff7a3-font-size:18px;--e-global-typography-c2ff7a3-font-weight:500;--e-global-typography-c2ff7a3-text-transform:none;--e-global-typography-c2ff7a3-font-style:normal;--e-global-typography-c2ff7a3-text-decoration:none;--e-global-typography-c2ff7a3-line-height:25px;background-color:var( --e-global-color-630e120 );}.elementor-section.elementor-section-boxed > .elementor-container{max-width:615px;}.e-container{--container-max-width:615px;}.elementor-widget:not(:last-child){margin-bottom:20px;}.elementor-element{--widgets-spacing:20px;}{}h1.entry-title{display:var(--page-title-display);}.elementor-kit-8 e-page-transition{background-color:#FFBC7D;}.site-header{padding-right:0px;padding-left:0px;}@media(max-width:1024px){.elementor-kit-8{--e-global-typography-primary-font-size:35px;--e-global-typography-secondary-font-size:20px;--e-global-typography-accent-font-size:14px;--e-global-typography-8bf0fef-font-size:15px;--e-global-typography-cc344fb-font-size:7vw;--e-global-typography-cc344fb-line-height:1.1em;--e-global-typography-0cc1760-font-size:25px;}.elementor-section.elementor-section-boxed > .elementor-container{max-width:1024px;}.e-container{--container-max-width:1024px;}}@media(max-width:767px){.elementor-kit-8{--e-global-typography-primary-font-size:25px;--e-global-typography-primary-line-height:1.3em;--e-global-typography-text-font-size:14px;--e-global-typography-8bf0fef-font-size:12px;--e-global-typography-8bf0fef-letter-spacing:2px;--e-global-typography-cc344fb-font-size:41px;--e-global-typography-cc344fb-line-height:1.3em;--e-global-typography-0cc1760-font-size:23px;}.elementor-section.elementor-section-boxed > .elementor-container{max-width:767px;}.e-container{--container-max-width:767px;}}/* Start custom CSS *//* Resource Library Styling */

.library-item .elementor-icon-list-text, .library-item .elementor-icon-list-icon {
    transition: all .3s;
}

.library-item .elementor-icon-list-item a {
    justify-content: space-between!important;
}

.library-item .elementor-icon-list-item {
    width: 100%!important;
}

.library-item .elementor-icon-list-item a {
    display: flex;
    flex-direction: row-reverse;
}

.library-item i {
    color: var( --e-global-color-6360e85 )!important;
}

.library-item .elementor-icon-list-icon i {
    width: 10px;
}

p a {
    color: var( --e-global-color-6360e85 );
}

p a:hover {
    color: var( --e-global-color-primary );
}

li a {
    color: var( --e-global-color-6360e85 );
}

li a:hover {
    color: var( --e-global-color-primary );
}/* End custom CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Neue Haas Display';
	font-style: normal;
	font-weight: 200;
	font-display: auto;
	src: url('https://kadena.io/wp-content/uploads/2021/10/45070789-5c37-49df-beb0-ab1e3133920e.eot');
	src: url('https://kadena.io/wp-content/uploads/2021/10/45070789-5c37-49df-beb0-ab1e3133920e.eot?#iefix') format('embedded-opentype'),
		url('https://kadena.io/wp-content/uploads/2021/10/ca6a839e-112e-49a1-b98d-ff71960f48f8.woff2') format('woff2'),
		url('https://kadena.io/wp-content/uploads/2021/10/9683323b-2589-4b72-9201-151e5727d797.woff') format('woff'),
		url('https://kadena.io/wp-content/uploads/2021/10/c10a1505-b3d6-46b1-ba11-65d5d5c72150.ttf') format('truetype');
}
@font-face {
	font-family: 'Neue Haas Display';
	font-style: normal;
	font-weight: 700;
	font-display: auto;
	src: url('https://kadena.io/wp-content/uploads/2021/10/ed82538c-6090-4c05-ac72-c636496df8de.eot');
	src: url('https://kadena.io/wp-content/uploads/2021/10/ed82538c-6090-4c05-ac72-c636496df8de.eot?#iefix') format('embedded-opentype'),
		url('https://kadena.io/wp-content/uploads/2021/10/c24b7456-b9fe-40ab-94af-ba8d3025fada.woff2') format('woff2'),
		url('https://kadena.io/wp-content/uploads/2021/10/da47ecd2-feea-403e-b247-9f8f5bb5157b.woff') format('woff'),
		url('https://kadena.io/wp-content/uploads/2021/10/0deba34f-9242-462b-a359-74e95714f821.ttf') format('truetype');
}
@font-face {
	font-family: 'Neue Haas Display';
	font-style: normal;
	font-weight: 600;
	font-display: auto;
	src: url('https://kadena.io/wp-content/uploads/2021/10/83d6b8f7-bd47-4e8d-a359-27b74d3100f6.eot');
	src: url('https://kadena.io/wp-content/uploads/2021/10/83d6b8f7-bd47-4e8d-a359-27b74d3100f6.eot?#iefix') format('embedded-opentype'),
		url('https://kadena.io/wp-content/uploads/2021/10/75e1af8f-1a4c-475a-8b53-f27e52822b6b.woff2') format('woff2'),
		url('https://kadena.io/wp-content/uploads/2021/10/2ba6fbd5-9c17-4733-af15-f49fbecc5c15.woff') format('woff'),
		url('https://kadena.io/wp-content/uploads/2021/10/7dcf6c37-4fb4-4211-9808-6a39bfa89e0d.ttf') format('truetype');
}
@font-face {
	font-family: 'Neue Haas Display';
	font-style: normal;
	font-weight: 800;
	font-display: auto;
	src: url('https://kadena.io/wp-content/uploads/2021/10/4a1d2048-47ef-4ea3-bf10-15aaa5e2c356.eot');
	src: url('https://kadena.io/wp-content/uploads/2021/10/4a1d2048-47ef-4ea3-bf10-15aaa5e2c356.eot?#iefix') format('embedded-opentype'),
		url('https://kadena.io/wp-content/uploads/2021/10/f53e5775-ed10-4b0d-bae1-efc8fb73f320.woff2') format('woff2'),
		url('https://kadena.io/wp-content/uploads/2021/10/71c97127-1adf-4bc2-92c9-4d4baf64c06c.woff') format('woff'),
		url('https://kadena.io/wp-content/uploads/2021/10/2ddf29df-f841-4d18-89df-e571abf167d9.ttf') format('truetype');
}
@font-face {
	font-family: 'Neue Haas Display';
	font-style: normal;
	font-weight: 100;
	font-display: auto;
	src: url('https://kadena.io/wp-content/uploads/2021/10/64e72a26-2a07-4de6-8b5c-5e284d988b70.eot');
	src: url('https://kadena.io/wp-content/uploads/2021/10/64e72a26-2a07-4de6-8b5c-5e284d988b70.eot?#iefix') format('embedded-opentype'),
		url('https://kadena.io/wp-content/uploads/2021/10/6462ddea-a88e-40b3-abf0-781aaa07abc5.woff2') format('woff2'),
		url('https://kadena.io/wp-content/uploads/2021/10/f08f94cb-7a84-412b-9a93-b5e789762f5e.woff') format('woff'),
		url('https://kadena.io/wp-content/uploads/2021/10/4208f5a1-f998-4312-95bd-690431e96ab2.ttf') format('truetype');
}
@font-face {
	font-family: 'Neue Haas Display';
	font-style: normal;
	font-weight: 300;
	font-display: auto;
	src: url('https://kadena.io/wp-content/uploads/2021/10/34cd0cd9-8085-4591-8536-80b686beb246.eot');
	src: url('https://kadena.io/wp-content/uploads/2021/10/34cd0cd9-8085-4591-8536-80b686beb246.eot?#iefix') format('embedded-opentype'),
		url('https://kadena.io/wp-content/uploads/2021/10/c7480920-ec89-4897-bd52-cdc6635b145a.woff2') format('woff2'),
		url('https://kadena.io/wp-content/uploads/2021/10/fd3a0aee-f4ba-4e55-a474-da6f8f5451ad.woff') format('woff'),
		url('https://kadena.io/wp-content/uploads/2021/10/81158324-72d7-4415-b496-79e4fcd39be6.ttf') format('truetype');
}
@font-face {
	font-family: 'Neue Haas Display';
	font-style: normal;
	font-weight: 400;
	font-display: auto;
	src: url('https://kadena.io/wp-content/uploads/2021/10/f831cb10-1843-40f5-8991-9dc786fec725.eot');
	src: url('https://kadena.io/wp-content/uploads/2021/10/f831cb10-1843-40f5-8991-9dc786fec725.eot?#iefix') format('embedded-opentype'),
		url('https://kadena.io/wp-content/uploads/2021/10/47e29da7-7a58-44de-8b3c-db20c65f6c3f.woff2') format('woff2'),
		url('https://kadena.io/wp-content/uploads/2021/10/b760d559-b712-4db0-a54c-0d0f8c10495b.woff') format('woff'),
		url('https://kadena.io/wp-content/uploads/2021/10/2fde6ffe-41ba-4934-a9cd-4884603328ee.ttf') format('truetype');
}
@font-face {
	font-family: 'Neue Haas Display';
	font-style: normal;
	font-weight: 500;
	font-display: auto;
	src: url('https://kadena.io/wp-content/uploads/2021/10/af92ac3b-2fbd-40a2-bfff-e1bbbc25af20.eot');
	src: url('https://kadena.io/wp-content/uploads/2021/10/af92ac3b-2fbd-40a2-bfff-e1bbbc25af20.eot?#iefix') format('embedded-opentype'),
		url('https://kadena.io/wp-content/uploads/2021/10/6e329389-9c44-48b0-8291-f918840fe862.woff2') format('woff2'),
		url('https://kadena.io/wp-content/uploads/2021/10/dc6a6646-e0ac-4deb-b3c0-19e5dc30bf6a.woff') format('woff'),
		url('https://kadena.io/wp-content/uploads/2021/10/b9a6a687-9455-4b53-af55-4fcad8d9572d.ttf') format('truetype');
}
/* End Custom Fonts CSS */